* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100vh;
    width: 100vw;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    background-color: #5a2400fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #b6a401;
    z-index: 1000;
}

header a {
    text-decoration: none;
}

header h1 {
    font-size: 30px;
    padding: 5px;
    color: whitesmoke;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 15px;
    margin-left: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

nav a:hover {
    background-color: #4e2615;
}

#logo {
    text-decoration: none;
}

main{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/background_fav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#favs {
    max-height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;

    & .favHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;

        & button {
            padding: 5px 20px;
            border: 1px solid black;
            font-weight: 600;
            font-size: 1rem;
            cursor: pointer;
            transition: 0.4s;
        }
    }

    & .favDiv {
        width: 100%;
        display: flex;
        justify-content: start;

        & p {
            width: 70%;
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5a2400fa;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #b6a401;

    & p {
        font-size: 18px;
        color: #eeeeee;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
}